

.popup__wrapper{
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #38383873;
	opacity: 1;
	transition: opacity 0.3s ease 0s;
}
.popup__container{
	position: relative;
	top: 23%;
	height: 50vh;
	width: calc(0.89 * 100vh);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;

}
.popup__promo{
	position: relative;
	z-index: 300;
	height: 100%;
	user-select: none;
	pointer-events: none;
}

.hide{
	left: 120vw;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}